:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

:root {
  /* --malloy-composer-fontSize: 13px;
  --malloy-composer-fontFamily: Arial, sans-serif;
  --malloy-composer-background: #1e1e1e;
  --malloy-composer-foreground: #eeeeee;

  --malloy-composer-header-background: #333333;

  --malloy-composer-code-fontSize: 13px;
  --malloy-composer-code-fontFamily: Courier, monospace;

  --malloy-composer-form-background: #000000;
  --malloy-composer-form-foreground: #eeeeee;
  --malloy-composer-form-border: #ececed;
  --malloy-composer-form-fontFamily: Arial, sans-serif;
  --malloy-composer-form-fontSize: 13px;
  --malloy-composer-form-focus: #b0b0ff;
  --malloy-composer-form-focusBackground: #5050ff;
  --malloy-composer-form-fontSize: 13px;

  --malloy-composer-menu-background: #000000;
  --malloy-composer-menu-foreground: #eeeeee;
  --malloy-composer-menu-border: #bbbbbb;
  --malloy-composer-menu-title: #bbbbbb;
  --malloy-composer-menu-fontFamily: Courier, monospace;
  --malloy-composer-menu-fontSize: 13px; */
}

.schema {
  color: var(--vscode-foreground);
  display: block;

  ul {
    margin: 5px 0;
    padding: 0 0.75em;
    list-style-type: none;
  }

  li.schema {
    list-style: none;
  }

  .hidden ul {
    display: none;
  }

  li.fields {
    margin: 2px 0;
  }

  li.fields label {
    display: block;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 0.5em;
    text-transform: uppercase;
  }

  .explore_name {
    line-height: 2em;
    font-weight: 600;
  }

  .field {
    white-space: nowrap;
    display: flex;
    vertical-align: middle;
    border: 1px solid var(--vscode-notebook-cellBorderColor);
    border-radius: 8px;
    padding: 0.25em 0.75em;
    margin: 0.2em;

    &.clickable {
      cursor: pointer;
    }
  }

  .field_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25em;
  }

  .field_name {
    padding-left: 0.5em;
    user-select: none;
  }

  svg {
    position: relative;
    left: -2px;
  }

  .field_name,
  svg,
  span,
  b {
    vertical-align: middle;
    display: inline-block;
  }

  .preview {
    color: var(--vscode-editorCodeLens-foreground);
    font-size: 0.8em;
    padding-left: 5px;
    cursor: pointer;

    &:hover {
      color: var(--vscode-editorLink-activeForeground);
    }
  }

  .chevron {
    color: var(--vscode-icon-foreground);
  }
}
